# Bulid products
*.a
*.o
*.so
*.swp
autoconf/autom4te.cache
config.log
config.status
Debug+Asserts
Debug+Profile+Asserts
Release+Asserts
Release+Profile+Asserts
configure.out
output/**
Makefile.common
Makefile.llvm.config
configure
